<template>
  <div class="authentication">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'Authentication'
}
</script>

<style lang="scss" scoped>
.authentication {
  background-image: url('../assets/auth-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;

  .international-global-network {
    position: absolute;
    left: 55%;
    top: 6%;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 7px;
    color: #ffffff;

    .first-word {
      color: #e54343;
    }
  }
}
</style>
