<template>
  <div class="dashboard">
    <the-header></the-header>
    <main>
      <div class="container">
        <router-view></router-view>
      </div>
    </main>
  </div>
</template>

<script>
import TheHeader from '@/components/TheHeader'

export default {
  name: 'Dashboard',
  components: {
    TheHeader
  }
}
</script>

<style lang="scss" scoped>
$phone: 360px;
$tablet: 768px;
.container {
  margin-top: 60px;

    @media (max-width: $tablet) {
      margin-top: 5px;
    }
}

</style>
