<template>
  <div class="auth-login">
    <div v-if="loadingStateEvent === 'success'" id="event-logo">
      <img :src="eventLogin.logo" class="logo-event" alt="logo">
    </div>
    <div class="login-title">
      Log in to check your event
    </div>
    <div class="login-form">
      <form>
        <div class="input-label">
          Email
        </div>
        <div class="input-field">
          <input-text
            :data-model="authLogin.email"
            mutation="setAuthEmail"
            input-require="required"
            class-name="login"
            name="email"
            placeholder="Your Email">
          </input-text>
        </div>
        <div class="input-label">
          Password
        </div>
        <div class="input-field">
          <input-password
            :data-model="authLogin.password"
            mutation="setAuthPassword"
            input-require="required"
            class-name="login"
            name="password"
            placeholder="Enter your password">
          </input-password>
        </div>
        <a
          @click="login"
          class="btn btn-block button-login"
          :class="loadingStateLogin === 'fetch' ? 'disabled' : ''">
            <i v-if="loadingStateLogin === 'fetch'" class="fas fa-spinner fa-spin fa-1x"></i>
            Log In
        </a>
      </form>
    </div>
    <div class="signup-description">
      Do you haven’t account? <router-link :to="{ name: 'register', params: { uuidEvent } }">Sign Up</router-link>
    </div>
  </div>
</template>

<script>
import InputText from '@/components/VInputText'
import InputPassword from '@/components/VInputPassword'
import swal from 'sweetalert2'

export default {
  name: 'Login',
  components: {
    InputText,
    InputPassword
  },
  data () {
    return {
      uuidEvent: '',
      loadingStateLogin: '',
      loadingStateEvent: ''
    }
  },
  created () {    
    this.$store.dispatch('loadEventLogin', {
    }).then(response => {
      this.loadingStateEvent = 'success'
    }).catch(error => {
      if (error.response.status === 404) {
        this.$router.push('/')
      }

      this.loadingStateEvent = 'error'
      const errorHandler = this.$helpers.errorHandler(error)
      swal.fire(errorHandler.message, errorHandler.error, 'error')
    })
  },
  methods: {
    login () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.loadingStateLogin = 'fetch'
          this.$store.dispatch('submitAuthRequest')
            .then(() => {
              this.loadingStateLogin = 'success'
              this.$store.commit('resetAuthState')
              this.$router.push('/event')
            })
            .catch(error => {
              this.loadingStateLogin = 'error'
              const errorHandler = this.$helpers.errorHandler(error)
              swal(errorHandler.message, errorHandler.error, 'error')
            })
        }
      })
    }
  },
  computed: {
    authLogin () {
      return this.$store.state.auth.login
    },
    eventLogin () {
      return this.$store.state.auth.eventLogin
    }
  },
  destroyed () {
    this.$store.commit('resetAuthState')
  }
}
</script>

<style lang="scss" scoped>
$tablet: 768px;
$phone: 360px;

.auth-login {
  background-color: #ffffff;
  min-height: 1440px;
  max-width: 650px;
  text-align: center;
  padding: 80px 150px 53px 150px;
  position: relative;

  @media (max-width: $tablet) {
    padding: 40px 20px;
    min-height: 823px;
  }

  .logo-event {
    width: 150px;
    margin-bottom: 20px;
  }

  .login-title {
    font-size: 16px;
    font-weight: 500;
    color: #828282;
    margin-bottom: 37px;
  }

  .login-form {
    text-align: left;

    .input-label {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.6px;
      color: #4f4f4f;
      margin-bottom: 10px;

      .forgot-password {
        float: right;
        letter-spacing: normal;
        color: #828282;
        text-decoration: none;
      }
    }

    .input-field {
      margin-bottom: 27px;
    }

    .button-login {
      border-radius: 5px;
      background-color: #e21f34;
      min-height: 50px;
      padding-top: 12px;
      font-size: 16px;
      font-weight: 900;
      color: #ffffff;
      margin-top: 33px;
      margin-bottom: 20px;
    }
  }

  .login-socmed {
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;

    i {
      margin-right: 20px;
    }

    .button-facebook {
      width: 165px;
      min-height: 50px;
      border-radius: 5px;
      background-color: #1976d2;
      padding-top: 12px;

      @media (max-width: $phone) {
        width: 135px;
      }
    }

    .button-google {
      width: 165px;
      min-height: 50px;
      border-radius: 5px;
      background-color: #e54343;
      margin-left: 10px;
      padding-top: 12px;

      @media (max-width: $phone) {
        width: 135px;
      }
    }
  }

  .signup-description {
    font-size: 16px;
    font-weight: 500;
    color: #4f4f4f;
    margin-top: 20px;
    margin-bottom: 50px;

    a {
      color: #e21f34;
      text-decoration: none;
    }
  }

  .ign-logo {
    font-size: 16px;
    font-weight: 500;
    color: #bdbdbd;

    .ign-logo-image {
      margin-top: 20px;

      img {
        width: 100px;
      }
    }
  }
}
</style>
