<template>
  <div id="event-container">
      <div v-for="(news) in newsList" :key="news.id">
        <div>
          <h3>{{news.title}}</h3>
          <p>{{news.summary}}</p>
        </div>
      </div>
  </div>
</template>

<script>
import swal from 'sweetalert2'

export default {
  name: 'Event',
  data () {
    return {
      loadingState: ''
    }
  },
  created () {
    this.loadNews()
  },
  methods:{
    loadNews(){
      this.$store.dispatch('loadNews')
    }
  },
  destroyed () {
    this.$store.commit('resetEventState')
  },
  computed: {
    newsList () {
      return this.$store.state.event.newsList
    }
  }
}
</script>

<style lang="scss" scoped>
$phone: 360px;
$tablet: 768px;

#event-container {
    margin: 0 0 100px;
    position: relative;
    min-height: 100%;
}
</style>
