<template>
    <div class="section-title">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </div>
</template>

<script>

export default {
    name: 'SectionTitleForm',
    props: {
        title: String,
        description: String
    }
}
</script>

<style lang="scss" scoped>
.section-title {
  color: #5c5b5d;
  margin-bottom: 40px; 
  margin-top: 40px;
 
  h2 {
    font-size: 25px;
    font-weight: bold;
  }
}
</style>