<template>
  <div class="my-event">
    <div v-if="loadingState === 'success'">
      <div class="head-title">
        Your Event Now
      </div>
      <div v-for="currentEvent in myEvent.current_event" :key="currentEvent.uuid" class="event-list">
        <div class="row">
          <div class="col-md-6 event-description">
            <div class="row event-identity">
              <div class="col-md-4 logo">
                <img :src="currentEvent.logo" alt="event logo">
              </div>
              <div class="col-md-8 title-url">
                <div class="title">
                  {{ currentEvent.title }}
                </div>
                <div class="url">
                  <a :href="currentEvent.url" class="btn button-url">See Website</a>
                </div>
              </div>
            </div>
            <div class="event-date-location">
              <div class="date">
                <img src="@/assets/icons/ic-date-range.svg" alt="calendar"> {{ currentEvent.date }}
              </div>
              <div class="location">
                <img src="@/assets/icons/location.svg" alt="location"> {{ currentEvent.location }}
              </div>
            </div>
            <div class="event-todo">
              <div class="title">
                To Do List
              </div>
              <div class="description">
                <span v-if="currentEvent.todo_progress.active">
                  Complete <span>{{ currentEvent.todo_progress.complete }}</span> from {{ currentEvent.todo_progress.total }}
                </span>
                <span v-else>
                  You don't have to do list now
                </span>
              </div>
            </div>
          </div>
          <div class="line-vertical"></div>
          <div class="col-md-6 progress-description">
            <div class="progress-head-title">
              Your Progress
            </div>
            <div class="progress-title-circle">
              <div v-for="(progress, index) in currentEvent.progress_lists" :key="index" class="progress-list">
                <div v-if="progress.percentage !== 100">
                  <radial-progress-bar
                    :diameter="32"
                    :completed-steps="progress.percentage"
                    :stroke-width="4"
                    start-color="#e0e0e0"
                    stop-color="#27ae60"
                    innerStrokeColor="#e0e0e0"
                    :animateSpeed="0"
                    :total-steps="100">
                      <i class="fas fa-check" style="color: #e0e0e0; margin: 5px;"></i>
                  </radial-progress-bar>
                </div>
                <div v-else>
                  <div class="circle">
                    <i class="fas fa-check"></i>
                  </div>
                </div>
                <div v-if="index !== (currentEvent.progress_lists.length - 1)" class="line line-right"></div>
                <div v-if="index !== 0" class="line line-left"></div>
                <div class="title">
                  {{ progress.title }}
                </div>
              </div>
            </div>
            <div class="progress-button">
              <div class="float-left percentage">
                {{ currentEvent.progress_percentage }}%
              </div>
              <div class="float-right button">
                <router-link :to="{ name: 'event', params: { uuidEvent: currentEvent.uuid } }" class="btn button-next">
                  Continue Progress
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="head-title">
        History Your Event
      </div>
      <div v-for="currentEvent in myEvent.history_event" :key="currentEvent.uuid" class="event-list history">
        <div class="row">
          <div class="col-md-6 event-description">
            <div class="row event-identity">
              <div class="col-md-4 logo">
                <img :src="currentEvent.logo" alt="event logo">
              </div>
              <div class="col-md-8 title-url">
                <div class="title history">
                  {{ currentEvent.title }}
                </div>
              </div>
            </div>
            <div class="event-date-location">
              <div class="date history">
                <img src="@/assets/icons/date-grey.svg" alt="calendar"> {{ currentEvent.date }}
              </div>
              <div class="location history">
                <img src="@/assets/icons/location.svg" alt="location"> {{ currentEvent.location }}
              </div>
            </div>
            <div class="event-todo">
              <div class="title history">
                To Do List
              </div>
              <div class="description history">
                <span v-if="currentEvent.todo_progress.active">
                  Complete <span>{{ currentEvent.todo_progress.complete }}</span> from {{ currentEvent.todo_progress.total }}
                </span>
                <span v-else>
                  You don't have to do list now
                </span>
              </div>
            </div>
          </div>
          <div class="line-vertical"></div>
          <div class="col-md-6 progress-description">
            <div class="progress-head-title">
              Your Progress
            </div>
            <div class="progress-title-circle">
              <div v-for="(progress, index) in currentEvent.progress_lists" :key="index" class="progress-list">
                <div v-if="progress.percentage !== 100">
                  <radial-progress-bar
                    :diameter="32"
                    :completed-steps="progress.percentage"
                    :stroke-width="4"
                    start-color="#e0e0e0"
                    stop-color="#27ae60"
                    innerStrokeColor="#e0e0e0"
                    :animateSpeed="0"
                    :total-steps="100">
                      <i class="fas fa-check" style="color: #e0e0e0; margin: 5px;"></i>
                  </radial-progress-bar>
                </div>
                <div v-else>
                  <div class="circle">
                    <i class="fas fa-check"></i>
                  </div>
                </div>
                <div v-if="index !== (currentEvent.progress_lists.length - 1)" class="line line-right"></div>
                <div v-if="index !== 0" class="line line-left"></div>
                <div class="title history">
                  {{ progress.title }}
                </div>
              </div>
            </div>
            <div class="progress-button">
              <div class="float-left percentage history">
                {{ currentEvent.progress_percentage }}%
              </div>
              <div class="float-right button">
                <router-link :to="{ name: 'event', params: { codeEvent: currentEvent.uuid } }" class="btn button-next history disabled">
                  Continue Progress
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="loadingState === 'fetch'" class="text-center">
      <i class="fas fa-spinner fa-spin loading-state-spin"></i>
    </div>
  </div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress'
import Endpoint from '@/endpoint'
import swal from 'sweetalert2'

export default {
  name: 'MyEvent',
  components: {
    RadialProgressBar
  },
  data () {
    return {
      loadingState: '',
      baseUrl: Endpoint.BASE_URL
    }
  },
  created () {
    this.loadingState = 'fetch'
    this.$store.dispatch('loadMyEvent')
      .then(response => {
        this.loadingState = 'success'
      })
      .catch(error => {
        this.loadingState = 'error'
        const errorHandler = this.$helpers.errorHandler(error)
        if (error.response.status !== 401) {
          swal.fire('Error get my event', errorHandler, 'error')
        }
      })
  },
  computed: {
    myEvent () {
      return this.$store.state.event.myEvent
    }
  }
}
</script>

<style lang="scss" scoped>
$tablet: 768px;
$phone: 360px;

.my-event {
  margin-top: 80px;

  .head-title {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.41;
    color: #4f4f4f;
    margin-bottom: 30px;
    margin-top: 49px;
  }

  .line {
    border: 1px solid #e0e0e0;
  }

  .event-list {
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    padding: 30px 49px;
    margin-bottom: 50px;
    position: relative;

    @media (max-width: $tablet) {
      padding: 25px;
    }

    &:hover {
      border: 1px solid #e21f34;
    }

    &.history {
      &:hover {
        border: 1px solid #bdbdbd;
      }
    }

    .event-description {
      @media (max-width: $tablet) {
        margin-bottom: 32px;
      }

      .event-identity {
        margin-bottom: 25px;

        .logo {
          text-align: center;

          img {
            width: 133.3px;
          }
        }

        .title-url {
          @media (max-width: $tablet) {
            text-align: center;
          }

          .title {
            font-size: 24px;
            font-weight: 900;
            line-height: 1.29;
            color: #4f4f4f;
            margin-bottom: 29px;

            &.history {
              color: #bdbdbd;
            }
          }

          .url {
            .button-url {
              color: #e21f34;
              border-radius: 30px;
              font-size: 16px;
              font-weight: 500;
              border: 1px solid #e21f34;
            }
          }
        }
      }

      .event-date-location {
        display: flex;
        margin-bottom: 23px;

        .date {
          font-size: 14px;
          font-weight: 500;
          color: #828282;
          margin-right: 65px;

          img {
            margin-right: 10px;
          }

          &.history {
            color: #bdbdbd;
          }
        }

        .location {
          font-size: 16px;
          font-weight: 500;
          color: #828282;

          img {
            margin-right: 10px;
          }

          &.history {
            color: #bdbdbd;
          }
        }
      }

      .event-todo {
        .title {
          font-size: 18px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.41;
          letter-spacing: normal;
          color: #4f4f4f;
          margin-bottom: 5px;

          &.history {
            color: #bdbdbd;
          }
        }

        .description {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.41;
          color: #828282;

          &.history {
            color: #bdbdbd;
          }
        }
      }
    }

    .line-vertical {
      height: 259px;
      border-left: 1px solid #e0e0e0;
      position: absolute;
      left: 47%;
      top: 7%;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .progress-description {
      .progress-head-title {
        font-size: 18px;
        font-weight: 900;
        line-height: 1.41;
        color: #4f4f4f;
        margin-bottom: 27px;
      }

      .progress-title-circle {
        display: flex;
        justify-content: space-around;
        text-align: center;

        @media (max-width: $tablet) {
          display: block;
        }

        .progress-list {
          margin-right: 11px;
          position: relative;

          .circle {
            margin-bottom: 20px;

            i {
              padding: 3px 5.6px 5px 3.4px;
              border: 4px solid#27ae60;
              border-radius: 50%;
              background-color: #27ae60;
              color: #ffffff;
            }
          }

          .line {
            border: 2px solid #e0e0e0;
            width: 113%;
            position: absolute;
            top: 14px;
            z-index: -1;

            &.line-right {
              left: 60px;
            }

            &.line-left {
              right: 60px;
            }

            @media (max-width: $tablet) {
              display: none;
            }

          }

          .title {
            border-radius: 5px;
            border: 1px solid #bdbdbd;
            padding: 8.8px 16.5px 8.2px 16.5px;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.41;
            color: #e21f34;
            margin-top: 20px;
            min-width: 100px;

            &.history {
              color: #bdbdbd;
            }

            @media (max-width: $tablet) {
              display: block;
              margin: 0 auto;
              max-width: 122px;
              margin-bottom: 32px;
              margin-top: 32px;
            }
          }
        }
      }

      .progress-button {
        margin-top: 41px;

        .percentage {
          font-size: 24px;
          font-weight: 900;
          line-height: 1.41;
          color: #f8941f;

          &.history {
            color: #bdbdbd;
          }
        }

        .button {
          .button-next {
            border-radius: 5px;
            background-color: #e21f34;
            font-size: 14px;
            font-weight: 900;
            color: #ffffff;

            &.history {
              background-color: #bdbdbd;
            }
          }
        }
      }
    }
  }
}
</style>
