<template>
  <div class="event">
    <div class="row event-header">
      <div class="col-md-2">
        <img :src="eventDetail.logo" class="event-logo" alt="event logo">
      </div>
      <div class="col-md-10 event-detail">
        <div class="event-title">
          {{ eventDetail.title }}
          <span>
            <a :href="eventDetail.url" target="_blank" class="btn button-event-website">
              See Website
            </a>
          </span>
        </div>
        <div class="event-location-date">
          <span class="event-date">
            <i class="fas fa-calendar-alt"></i> {{ eventDate }}
          </span>
          <span class="event-location">
            <i class="fas fa-map-marker-alt"></i> {{ eventDetail.location }}
          </span>
        </div>
      </div>
    </div>
    <div class="event-description">
      {{ eventDetail.description }}
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'EventDetailDescription',
  computed: {
    eventDetail () {
      return this.$store.state.event.eventDetail
    },
    eventDate () {
      return moment(this.eventDetail.date).format('D MMM YYYY')
    },
    loadingState () {
      return this.$store.state.event.eventDetailLoadingState
    }
  }
}
</script>

<style lang="scss" scoped>
$phone: 360px;
$tablet: 768px;

.event {
  padding: 50px;

  @media (max-width: $tablet) {
    padding: 13px;
  }

  .event-header {
    margin-bottom: 20px;

    @media (max-width: $tablet) {
      text-align: center;
    }

    .event-logo {
      width: 100px;
      margin: 20px;
    }

    .event-detail {
      padding: 0px 62px;

      @media (max-width: $tablet) {
        padding: 0px;
      }

      .event-title {
        font-size: 32px;
        font-weight: 900;
        color: #4f4f4f;

        @media (max-width: $tablet) {
          span::before {
            content: '\A';
            white-space: pre;
          }
        }

        .button-event-website {
          margin-left: 20px;
          font-size: 16px;
          font-weight: 500;
          color: #e21f34;
          border-radius: 30px;
          border: 1px solid #e21f34;

          @media (max-width: $tablet) {
            margin: 0px;
          }
        }
      }

      .event-location-date {
        font-size: 16px;
        font-weight: 500;
        color: #828282;
        margin-top: 22px;

        @media (max-width: $tablet) {
          span::before {
            content: '\A';
            white-space: pre;
          }
          margin: 0px;
        }

        i {
          color: #e21f34;
          margin-right: 10px;
        }

        .event-date {
          margin-right: 40px;

          @media (max-width: $tablet) {
            margin: 0px;
          }
        }
      }
    }
  }

  .event-description {
    font-size: 16px;
    line-height: 1.41;
    color: #4f4f4f;
    margin-top: 20px;

    @media (max-width: $tablet) {
      text-align: center;
    }
  }
}
</style>
