<template>
  <div class="event-section">
    <div class="event-progress">
      <div class="progress-title">
        Your Registration Progress
      </div>
      <div class="progress-percentage" :class="eventDetail.progress_percentage === 100 ? 'active' : ''">
        {{ eventDetail.progress_percentage }}%
      </div>
    </div>
    <div v-for="(progress, index) in eventDetail.progress_lists" :key="progress.type" class="section">
      <div class="row">
        <div class="col-1">
          <div v-if="progress.percentage !== 100">
            <radial-progress-bar
              :diameter="51"
              :completed-steps="progress.percentage"
              :stroke-width="4"
              start-color="#e0e0e0"
              stop-color="#27ae60"
              innerStrokeColor="#e0e0e0"
              :animateSpeed="0"
              :total-steps="100">
                <i class="fas fa-check checklist" style="color: #e0e0e0; margin: 5px;"></i>
            </radial-progress-bar>
          </div>
          <div v-else>
            <div class="circle">
              <i class="fas fa-check checklist"></i>
            </div>
          </div>
        </div>
        <div class="col-10 section-detail" :class="index !== (eventDetail.progress_lists.length - 1) ? 'section-line' : ''">
          <div class="row">
            <div class="col-md-9 section-detail-description">
              <div class="section-title" :class="progress.active ? 'active' : ''">
                {{ progress.title }} <span v-if="(progress.type === 4) && (progress.percentage !== 100)" class="payment-status">({{ progress.action.status }})</span>
              </div>
              <div class="section-day-left" :class="progress.active ? 'active' : ''">
                Day left: <span class="day" v-if="progress.day_left > 0">{{ progress.day_left }} day</span><span v-else>-</span>
              </div>
              <div v-if="progress.percentage !== 100" class="section-notes">
                {{ progress.note }}
              </div>
              <!-- progress.type 3, you're accepted -->
              <div v-if="(progress.type === 3) && (progress.percentage === 100)" class="accepted-document">
                <a
                  v-if="progress.action.loa_file"
                  @click="generateLoa" target="_blank"
                  class="btn button-default button-document"
                  :class="generateLoaLoadingState === 'fetch' ? 'disabled' : ''">
                    <i v-if="generateLoaLoadingState === 'fetch'" class="fas fa-spinner fa-spin fa-1x"></i>
                    <img src="@/assets/icons/download.svg" alt="download"> LoA
                </a>
                <a v-if="progress.action.proposal_file" :href="progress.action.proposal_file" target="_blank" class="btn button-default button-document">
                  <img src="@/assets/icons/download.svg" alt="download"> Proposal
                </a>
                <a v-if="progress.action.proposal_parents_file" :href="progress.action.proposal_parents_file" target="_blank" class="btn button-default button-document">
                  <img src="@/assets/icons/download.svg" alt="download"> Proposal Parents
                </a>
              </div>
            </div>
            <div class="col-md-3 section-detail-description">
              <!-- progress.type 1, fill the form -->
              <div v-if="progress.type === 1">
                <router-link
                  v-if="eventDetail.current_delegate_state === 0 || eventDetail.current_delegate_state === 18"
                  :to="{ name: 'event-registration-personal-data', params: { uuidEvent } }"
                  class="btn button-danger btn-danger button-fill-form">
                    Continue
                </router-link>
                <router-link
                  v-if="eventDetail.current_delegate_state === 1"
                  :to="{ name: 'event-registration-summary-review', params: { uuidEvent } }"
                  class="btn button-default button-fill-form">
                  <i class="fa fa-eye"></i>
                    Review
                  </router-link>
              </div>
              <!-- <div v-if="(progress.type === 2) && (progress.percentage === 100)">
                <router-link
                  :to="{ name: 'inbox-detail', params: { uuidInbox: progress.action.inbox_uuid } }"
                  class="btn button-default button-fill-form">
                    View All
                </router-link>
              </div> -->
              <!-- progress.type 15, see you council -->
              <div v-if="progress.type === 15">
                <router-link
                  :to="{ name: 'event-delegates', params: { uuidEvent } }"
                  class="btn button-default button-fill-form">
                    View Your Council
                </router-link>
              </div>
              <!-- progress.type 6, waiting for payment. progress.type 8, waiting for admin confirmation. progress.type 10, payment success. -->
              <div v-if="(progress.type === 6) || (progress.type === 8) || (progress.type === 10)">
                <router-link
                  v-if="progress.action.status.toLowerCase() === 'pay'"
                  :to="{ name: 'payment-event-payment', params: { uuidEvent } }"
                  class="btn button-danger button-fill-form">
                    Pay
                </router-link>
                <a
                  v-if="progress.action.status.toLowerCase() === 'disabled'"
                  :to="{ name: 'payment-event-payment', params: { uuidEvent } }"
                  class="btn button-danger button-fill-form button-disabled disabled">
                  <i class="fa fa-play"></i>
                    Start
                </a>
                <router-link
                  v-if="progress.action.status.toLowerCase() === 'waiting for payment'"
                  :to="{ name: progress.transfer_method === 11 ? 'payment-transfer' : 'payment-event-payment', params: { uuidEvent } }"
                  class="btn button-danger button-fill-form">
                  <i class="fa fa-play"></i>
                    Continue to Payment
                </router-link>
                <router-link
                  v-if="progress.action.status.toLowerCase() === 'waiting for admin confirmation'"
                  :to="{ name: 'payment-transfer', params: { uuidEvent } }"
                  class="btn button-danger button-fill-form button-transaction">
                  <i class="fa fa-eye"></i>
                    View Detail
                </router-link>
                <div v-if="progress.percentage === 100" class="payment-invoice">
                  <div v-for="(invoice, index) in progress.action.invoice" :key="invoice.id" class="invoice">
                    <a @click="loadInvoice(invoice.id)" data-toggle="modal" class="btn button-default invoice-button">
                      <img src="@/assets/icons/invoice.svg" alt="invoice"> View Invoice {{ index + 1 }}
                    </a>
                  </div>
                </div>
              </div>
              <!-- progress.type 7, waiting for second payment -->
              <div v-if="progress.type === 7">
                <div class="payment-invoice">
                  <a
                    @click="loadInvoice(progress.action.invoice[0].id)"
                    data-toggle="modal"
                    class="btn button-default first-payment"
                    :class="progress.action.second_payment.transfer_method === 9 ? 'paypal-space' : ''">
                      <img src="@/assets/icons/invoice.svg" alt="invoice"> View Invoice 1
                  </a>
                  <paypal
                    v-if="progress.action.second_payment.transfer_method === 9"
                    :amount="progress.action.second_payment.price">
                  </paypal>
                  <a
                    v-if="progress.action.second_payment.transfer_method === 10"
                    @click="submitPaymentMidtrans(progress.action.second_payment.price)"
                    class="btn button-danger button-fill-form">
                    <i class="fa fa-play"></i>
                      Continue
                  </a>
                  <router-link
                    v-if="progress.action.second_payment.transfer_method === 11"
                    class="btn button-danger button-fill-form"
                    :to="{ name: 'payment-transfer', params: { uuidEvent } }">
                    <i class="fa fa-play"></i>
                      Continue
                  </router-link>
                </div>
              </div>
              <!-- progress.type 16, send document -->
              <div v-if="progress.type === 16">
                <div v-if="progress.active">
                  <router-link
                    v-if="progress.percentage !== 100"
                    :to="{ name: 'event-document', params: { uuidEvent } }"
                    class="btn button-danger button-fill-form">
                    <i class="fa fa-play"></i>
                      Start
                  </router-link>
                  <router-link
                    v-else
                    :to="{ name: 'event-document', params: { uuidEvent } }"
                    class="btn button-default button-fill-form">
                      <!-- <i class="fas fa-pencil-alt"></i> Edit -->
                      <i class="fa fa-eye"></i>
                      Review
                    </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" :id="'invoice'">
      <div class="modal-dialog">
        <div class="modal-content">
          <invoice-modal type="modal-invoice"></invoice-modal>
          <div class="close-modal" data-dismiss="modal">
            <img src="@/assets/icons/close.svg" alt="close">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="section">
      <div class="row">
        <div class="col-1">
          <i class="far fa-check-circle checklist"></i>
        </div>
        <div class="col-10 section-detail section-line">
          <div class="row">
            <div class="col-9 section-detail-description">
              <div class="section-title">
                Waiting Announcement
              </div>
              <div class="section-day-left">
                Day left: -
              </div>
              <div class="section-notes">
                Don’t forget fill all form
              </div>
            </div>
            <div class="col-3">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-1">
          <i class="far fa-check-circle checklist"></i>
        </div>
        <div class="col-10 section-detail section-line">
          <div class="row">
            <div class="col-6 section-detail-description">
              <div class="section-title">
                Payment
              </div>
              <div class="section-day-left">
                Day left: -
              </div>
              <div class="section-notes">
                Don’t forget fill all form
              </div>
            </div>
            <div class="col-6">
              <div class="payment-button-group">
                <a data-toggle="modal" data-target="#exampleModal" class="btn invoice-button">
                  <img src="@/assets/icons/invoice.svg" alt="invoice"> View Invoice 1
                </a>
                <a data-toggle="modal" data-target="#exampleModal" class="btn invoice-button">
                  <img src="@/assets/icons/invoice.svg" alt="invoice"> View Invoice 2
                </a>
              </div>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <invoice-modal type="modal-invoice"></invoice-modal>
                    <div class="close-modal" data-dismiss="modal">
                      <img src="@/assets/icons/close.svg" alt="close">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-1">
          <i class="far fa-check-circle checklist"></i>
        </div>
        <div class="col-10 section-detail">
          <div class="row">
            <div class="col-9 section-detail-description">
              <div class="section-title">
                Send Documents
              </div>
              <div class="section-day-left">
                Day left: -
              </div>
              <div class="section-notes">
                Don’t forget fill all form
              </div>
            </div>
            <div class="col-3">
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
import InvoiceModal from '@/components/PaymentInvoice'
import RadialProgressBar from 'vue-radial-progress'
import Paypal from '@/components/PaymentPaypal'
import swal from 'sweetalert2'
import $ from 'jquery'

export default {
  name: 'EventDetailSection',
  components: {
    InvoiceModal,
    RadialProgressBar,
    Paypal
  },
  data () {
    return {
      showModal: false,
      uuidEvent: this.$route.params.uuidEvent,
      generateLoaLoadingState: ''
    }
  },
  methods: {
    generateLoa () {
      this.generateLoaLoadingState = 'fetch'
      this.$store.dispatch('loadGenerateLoa', {
        uuidEvent: this.uuidEvent
      }).then(response => {
        this.generateLoaLoadingState = 'success'
        window.open(response.data.data.loa_file, '_blank')
      }).catch(error => {
        this.generateLoaLoadingState = 'error'
        const errorHandler = this.$helpers.errorHandler(error)
        if (error.response.status !== 401) {
          swal.fire('Error load generate loa', errorHandler, 'error')
        }
      })
    },
    submitPaymentMidtrans (price) {
      this.$store.dispatch('submitPaymentMidtrans', {
        uuidEvent: this.uuidEvent,
        price
      }).then(response => {
        this.submitLoadingState = 'success'
        window.location.href = response.data.data.redirect_url
      }).catch(error => {
        this.submitLoadingState = 'error'
        const errorHandler = this.$helpers.errorHandler(error)
        if (error.response.status !== 401) {
          swal.fire('Error submit payment midtrans', errorHandler, 'error')
        }
      })
    },
    loadInvoice (invoiceId) {
      this.$store.dispatch('loadPaymentInvoice', {
        uuidEvent: this.uuidEvent,
        invoiceId
      }).then(response => {
        $('#invoice').modal('show')
      }).catch(error => {
        const errorHandler = this.$helpers.errorHandler(error)
        if (error.response.status !== 401) {
          swal.fire('Error load payment invoice', errorHandler, 'error')
        }
      })
    }
  },
  computed: {
    eventDetail () {
      return this.$store.state.event.eventDetail
    },
    loadingState () {
      return this.$store.state.event.eventDetailLoadingState
    }
  }
}
</script>

<style lang="scss" scoped>
$tablet: 768px;
$phone: 360px;

.event-section {
  padding: 50px;

  @media (max-width: $tablet) {
    padding: 25px 15px;
  }

  .event-progress {
    .progress-title {
      font-size: 24px;
      font-weight: 900;
      line-height: 1.41;
      color: #4f4f4f;
      margin-bottom: 15px;
    }

    .progress-percentage {
      font-size: 50px;
      font-weight: 900;
      line-height: 1.41;
      color: #f8941f;
      margin-bottom: 50px;

      &.active {
        color: #27ae60;
      }

      @media (max-width: $tablet) {
        font-size: 40px;
        margin-bottom: 20px;
      }
    }
  }

  .section {
    margin-bottom: 41px;

    .circle {
      margin-bottom: 20px;

      i {
        padding: 3px 5.6px 5px 3.4px;
        border: 4px solid#27ae60;
        border-radius: 50%;
        background-color: #27ae60;
        color: #ffffff;

        @media (max-width: $tablet) {
          font-size: 24px;
        }
      }
    }

    .section-detail {
      font-size: 16px;
      font-weight: 900;
      color: #e0e0e0;

      &.section-line {
        border-bottom: 1px solid;
      }

      .section-detail-description {
        margin-bottom: 29px;

        .accepted-document {
          margin-top: 20px;

          .button-document {
            width: 180px;
            height: 40px;
            margin-right: 17px;

            @media (max-width: $tablet) {
              margin-bottom: 10px;
            }
          }
        }

        @media (max-width: $tablet) {
          padding-left: 40px;
        }
      }

      .payment-button-group {
        display: flex;

        img {
          margin-right: 12px;
        }

        .invoice-button {
          font-size: 16px;
          font-weight: 500;
          color: #e21f34;
          border-radius: 5px;
          border: 1px solid #bdbdbd;
          margin-left: 30px;
          width: 180px;
          height: 40px;
        }
      }
    }

    .checklist {
      font-size: 35px;
      color: #e0e0e0;

      @media (max-width: $tablet) {
        font-size: 25px;
      }
    }

    .section-title {
      font-size: 24px;
      font-weight: 500;
      color: #bdbdbd;

      .payment-status {
        color: #bdbdbd;
      }

      &.active {
        color: #4f4f4f;
      }

      @media (max-width: $tablet) {
        font-size: 20px;
      }
    }

    .section-day-left {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.41;
      color: #bdbdbd;

      &.active {
        color: #828282;
      }

      @media (max-width: $tablet) {
        font-size: 14px;
      }

      .day {
        color: #e21f34;
      }
    }

    .section-notes {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #f9a430;

      @media (max-width: $tablet) {
        font-size: 14px;
        margin-top: 13px;
        margin-bottom: 14px;
      }
    }

    .button-fill-form {
      border-radius: 5px;
      font-size: 16px;
      font-weight: 900;
      float: right;

      @media (max-width: $tablet) {
        float: left;
      }

      &.button-transaction {
        width: 200px;
      }

      i {
        margin-right: 12px;
      }

      @media (max-width: $tablet) {
        padding: 5px 15.5px;
      }
    }

    .payment-invoice {
      display: flex;
      justify-content: flex-end;

      @media (max-width: $tablet) {
        display: block;
      }

      .invoice {
        margin-left: 30px;

        @media (max-width: $tablet) {
          margin-left: 0px;
        }

        .invoice-button {
          width: 180px;

          @media (max-width: $tablet) {
            width: 156px;
            margin-bottom: 10px;
          }

          img {
            margin-right: 12px;
          }
        }
      }

      .first-payment {
        position: absolute;
        left: -70px;

        @media (max-width: $tablet) {
          position: relative;
          left: 0px !important;
          margin-bottom: 15px;
        }

        &.paypal-space {
          left: -112px;
        }
      }
    }
  }
}

.modal-dialog {
  background-color: #fff;
  min-width: 840px;

  .close-modal {
    position: absolute;
    right: -20px;
    top: -19px;
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  }
}
</style>
