<template>
  <div class="dropdown-menu" aria-labelledby="inboxDropdown">
    <inbox-list page-type="header-inbox"></inbox-list>
    <div class="inbox-button">
      <router-link to="/inbox">View All</router-link>
    </div>
  </div>
</template>

<script>
import InboxList from '@/components/InboxList'

export default {
  name: 'HeaderInbox',
  components: {
    InboxList
  }
}
</script>

<style lang="scss" scoped>
.dropdown-menu {
  width: 400px;
  height: 345px;
  top: 47px;
  left: -289px;
  overflow: scroll;
  padding: 20px 30px;

  .inbox-button {
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
    position: fixed;
    top: 345px;
    width: 341px;
    padding-bottom: 20px;
    background-color: #ffffff;

    a {
      color: #e21f34;
      text-decoration: none;
    }
  }
}
</style>
