<template>
  <div class="header-progress">
    <div v-for="(progress, index) in listProgress" :key="index" class="progress-list">
      <div class="progress-bullet active"></div>
      <div class="progress-title">
        {{ index + 1 }} - {{ progress.title }}
      </div>
      <div class="progress-line">
        <div class="progress">
          <div class="progress-bar" :style="'width: ' + progress.progress + '%'"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderProgress',
  props: {
    listProgress: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
$tablet: 768px;
$phone: 360px;

.header-progress {
  display: flex;
  margin-bottom: 47px;

  .progress-list {
    position: relative;
    margin-right: 30px;

    @media (max-width: $tablet) {
      margin-right: 0px;
    }

    .progress-bullet {
      width: 15px;
      height: 15px;
      background-color: #e32b35;
      border-radius: 50%;
      position: absolute;
      bottom: -5px;
      left: -4px;
      display: none;

      @media (max-width: $tablet) {
        display: block;
      }
    }

    .progress-title {
      font-size: 16px;
      font-weight: 500;
      color: #4f4f4f;
      margin-bottom: 10px;

      @media (max-width: $tablet) {
        font-size: 12px;
        position: absolute;
        text-align: center;
        top: 11px;
      }
    }

    .progress-line {
      .progress {
        width: 200px;
        height: 5px;
        background-color: #e0e0e0;

        @media (max-width: $tablet) {
          width: 74px;
        }

        .progress-bar {
          background-color: #e21f34;
        }
      }
    }
  }
}
</style>
