<template>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <router-link to="/profile/personal-data" class="dropdown-item" href="#">
      <img src="@/assets/icons/ic-account-circle.svg" alt=""> Edit Profile
      <div class="line"></div>
    </router-link>
    <router-link to="/setting-password" class="dropdown-item" href="#">
      <img src="@/assets/icons/ic-settings.svg" alt=""> Setting
      <div class="line"></div>
    </router-link>
    <a @click="logout" class="dropdown-item logout" href="#">
      <img src="@/assets/icons/ic-power-settings.svg" alt=""> Logout
    </a>
  </div>
</template>

<script>
export default {
  name: 'HeaderProfile',
  methods: {
    logout () {
      this.$store.dispatch('submitAuthLogout')
        .then(() => {
          this.$router.push('/')
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown-menu {
  top: 53px;
  left: -163px;
  min-width: 300px;

  a {
    background-color: #ffffff;
    color: #4f4f4f;
  }

  .dropdown-item {
    font-size: 14px;
    font-weight: 500;
    color: #4f4f4f;
    padding: 19px 19px 0px 76px;
    position: relative;

    img {
      position: absolute;
      left: 28px;
    }

    .line {
      border: 1px solid #e0e0e0;
      margin-top: 19px;
    }

    &.logout {
      padding-bottom: 19px;
    }
  }
}
</style>
