<template>
  <div>
    <div v-if="loadingState === 'success'">
      <div v-for="(inbox, index) in listInbox" :key="index" class="inbox-list" :class="index !== (listInbox.length - 1) ? 'line' : ''">
        <router-link :to="{ name: 'inbox-detail', params: { uuidInbox: inbox.uuid } }">
          <div class="row">
            <div class="col-md-2">
              <div class="inbox-thumbnail" :class="pageType">
                <img :src="inbox.thumbnail" alt="event logo">
              </div>
            </div>
            <div class="col-md-10 inbox-body" :class="pageType">
              <div class="title" :class="[!inbox.read ? 'active' : '', pageType]">
                {{ inbox.title }}
              </div>
              <div class="body" :class="!inbox.read ? 'active' : ''">
                {{ inbox.body }}
              </div>
            </div>
          </div>
        </router-link>
      </div>
    </div>
    <div v-if="loadingState === 'fetch'" class="text-center">
      <i class="fas fa-spinner fa-spin loading-state-spin"></i>
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert2'

export default {
  name: 'InboxList',
  props: {
    pageType: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      loadingState: ''
    }
  },
  created () {
    this.loadingState = 'fetch'
    this.$store.dispatch('loadListInbox')
      .then(response => {
        this.loadingState = 'success'
      })
      .catch(error => {
        this.loadingState = 'error'
        const errorHandler = this.$helpers.errorHandler(error)
        if (error.response.status !== 401) {
          swal.fire('Error get inbox list', errorHandler, 'error')
        }
      })
  },
  computed: {
    listInbox () {
      return this.$store.state.inbox.listInbox
    }
  }
}
</script>

<style lang="scss" scoped>
.inbox-list {
  padding-bottom: 31px;
  position: relative;

  a {
    text-decoration: none;
  }

  &.line {
    margin-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
  }

  .inbox-thumbnail {
    padding: 16px 0px;

    img {
      width: 80px;
    }

    &.header-inbox {
      img {
        width: 50px;
      }
    }
  }

  .inbox-body {
    &.header-inbox {
      padding-left: 20px;
    }

    .title {
      font-size: 18px;
      font-weight: 900;
      color:#bdbdbd;
      margin-bottom: 15px;

      &.active {
        color: #4f4f4f;
      }

      &.header-inbox {
        margin-bottom: 5px;
      }
    }

    .body {
      font-size: 14px;
      line-height: 1.41;
      color:#bdbdbd;

      &.active {
        color: #4f4f4f;
      }
    }
  }
}
</style>
