<template>
  <div>
    <div class="setting">
      <div class="setting-title">
        Personal Data
      </div>
      <div class="setting-body">
        <div v-if="personalDataLoadingState === 'success'">
          <div class="form-input">
            <div class="personal-form-group">
              <div class="input-label">
                Name <span class="required">*</span>
              </div>
              <div class="input-field">
                <input-text
                  :data-model="personalData.name"
                  mutation="setProfilePersonalDataName"
                  input-require="required"
                  name="name"
                  placeholder="John Doe">
                </input-text>
              </div>
              <div class="field-description">
                This name will be written in the certificate
              </div>
            </div>
            <div class="personal-form-group">
              <div class="input-label">
                Your Photo <span class="required">*</span>
              </div>
              <div v-if="!personalData.photo.filename" class="input-field">
                <input-file
                  style="display: none;"
                  id-file="photo-profile"
                  mutation="setProfilePersonalDataPhoto"
                  name="photo-profile"
                  endpoint-url="v1/profile/upload-picture">
                </input-file>
                <label for="photo-profile" class="btn button-upload">
                  <span>+</span> Choose File
                </label>
              </div>
              <div class="image-load" v-else>
                <div data-toggle="modal" data-target="#photoProfile" class="image-upload">
                  <img :src="personalData.photo.url" alt="image">
                </div>
                <photo-popup idModal="photoProfile" :image-url="personalData.photo.url"></photo-popup>
                <div class="image-detail">
                  <div class="file-name">
                    {{ personalData.photo.filename }}
                  </div>
                  <div class="view-notes">
                    Click photo to view full
                  </div>
                  <div class="image-delete">
                    <a @click="deletePhoto"><span>X</span> Delete Photo</a>
                  </div>
                </div>
              </div>
              <div class="field-description">
                Format photo .jpg, .jpeg, .png and max size 1 mb
              </div>
            </div>
            <div class="personal-form-group">
              <div class="input-label">
                Country of Birth <span class="required">*</span>
              </div>
              <div class="input-field">
                <input-text
                  :data-model="personalData.country_of_birth"
                  mutation="setProfilePersonalDataCountryOfBirth"
                  input-require="required"
                  name="country of birth"
                  placeholder="England">
                </input-text>
              </div>
            </div>
            <div class="personal-form-group">
              <div class="input-label">
                Date of Birth <span class="required">*</span>
              </div>
              <div class="input-field">
                <input-date
                  :data-model="personalData.date_of_birth"
                  mutation="setProfilePersonalDataCountryOfBirth"
                  input-require="required"
                  name="date of birth"
                  placeholder="21 Januari 1990">
                </input-date>
              </div>
              <div class="field-description">
                This program is only for 17-25 years old
              </div>
            </div>
            <div class="personal-form-group">
              <div class="input-label">
                Gender <span class="required">*</span>
              </div>
              <div class="input-field">
                <div class="row">
                  <div class="col-md-2">
                    <input-radio
                      value="male"
                      label="Male"
                      :data-model="personalData.gender"
                      id-radio="gender-male"
                      name="gender"
                      mutation="setProfilePersonalDataGender">
                    </input-radio>
                  </div>
                  <div class="col-md-2">
                    <input-radio
                      value="female"
                      label="Female"
                      :data-model="personalData.gender"
                      id-radio="gender-female"
                      name="gender"
                      mutation="setProfilePersonalDataGender">
                    </input-radio>
                  </div>
                </div>
              </div>
            </div>
            <div class="personal-form-group">
              <div class="input-label">
                Nationality <span class="required">*</span>
              </div>
              <div class="input-field">
                <input-text
                  :data-model="personalData.nationality"
                  mutation="setProfilePersonalDataNationality"
                  input-require="required"
                  name="nationality"
                  placeholder="England">
                </input-text>
              </div>
            </div>
            <div class="input-label input-label-group">
              Residential Address <span class="required">*</span>
            </div>
            <div class="personal-form-group">
              <div class="input-label-nested">
                Street Address
              </div>
              <div class="input-field">
                <input-text
                  :data-model="personalData.street_address"
                  mutation="setProfilePersonalDataStreetAddress"
                  input-require="required"
                  name="nationality"
                  placeholder="England">
                </input-text>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="personal-form-group">
                  <div class="input-label-nested">
                    City
                  </div>
                  <div class="input-field">
                    <input-text
                      :data-model="personalData.city"
                      mutation="setProfilePersonalDataCity"
                      input-require="required"
                      name="city"
                      placeholder="London">
                    </input-text>
                  </div>
                </div>
                <div>
                  <div class="input-label-nested">
                    ZIP/Postal Code
                  </div>
                  <div class="input-field">
                    <input-text
                      :data-model="personalData.zip_postal_code"
                      mutation="setProfilePersonalDataZipPostalCode"
                      input-require="required"
                      name="zip code"
                      placeholder="12332">
                    </input-text>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="personal-form-group">
                  <div class="input-label-nested">
                    State/Province/Region
                  </div>
                  <div class="input-field">
                    <input-text
                      :data-model="personalData.state_province_region"
                      mutation="setProfilePersonalDataStateProvinceRegion"
                      input-require="required"
                      name="region"
                      placeholder="London">
                    </input-text>
                  </div>
                </div>
                <div>
                  <div class="input-label-nested">
                    Country
                  </div>
                  <div class="input-field">
                    <input-text
                      :data-model="personalData.country"
                      mutation="setProfilePersonalDataCountry"
                      input-require="required"
                      name="country"
                      placeholder="England">
                    </input-text>
                  </div>
                </div>
              </div>
            </div>
            <div class="field-description">
              Please fill in your complete Address because maybe we want to gift you something from the event your joined
            </div>
          </div>
        </div>
        <div v-if="personalDataLoadingState === 'fetch'" class="text-center">
          <i class="fas fa-spinner fa-spin loading-state-spin"></i>
        </div>
      </div>
    </div>
    <div class="form-button">
      <a
        @click="updatePersonalData"
        class="btn button-save"
        :class="updateLoadingState === 'fetch' ? 'disabled' : ''">
          <i v-if="updateLoadingState === 'fetch'" class="fas fa-spinner fa-spin fa-1x"></i>
          Save
      </a>
    </div>
  </div>
</template>

<script>
import InputText from '@/components/VInputText'
import InputNumber from '@/components/VInputNumber'
import InputRadio from '@/components/VInputRadio'
import InputDate from '@/components/VInputDate'
import PhotoPopup from '@/components/DocumentPhotoPopup'
import InputFile from '@/components/VInputFile'
import swal from 'sweetalert2'

export default {
  name: 'PersonalData',
  components: {
    InputText,
    InputNumber,
    InputRadio,
    InputDate,
    PhotoPopup,
    InputFile
  },
  data () {
    return {
      personalDataLoadingState: '',
      updateLoadingState: ''
    }
  },
  created () {
    this.loadPersonalData()
  },
  methods: {
    loadPersonalData () {
      this.personalDataLoadingState = 'fetch'
      this.$store.dispatch('loadProfilePersonalData')
        .then(response => {
          this.personalDataLoadingState = 'success'
        })
        .catch(error => {
          this.personalDataLoadingState = 'error'
          const errorHandler = this.$helpers.errorHandler(error)
          if (error.response.status !== 401) {
            swal.fire('Error get personal data', errorHandler, 'error')
          }
        })
    },
    updatePersonalData () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.updateLoadingState = 'fetch'
          this.$store.dispatch('updateProfilePersonalData')
            .then(response => {
              this.updateLoadingState = 'success'

              swal.fire({
                title: 'Success!',
                text: 'Personal Data Updated',
                type: 'success',
                timer: 2000,
                showConfirmButton: false
              }).then(result => {
                if (result.value) {
                  this.loadPersonalData()
                }
              })
            })
            .catch(error => {
              this.updateLoadingState = 'error'
              const errorHandler = this.$helpers.errorHandler(error)
              if (error.response.status !== 401) {
                swal.fire('Error update personal data', errorHandler, 'error')
              }
            })
        }
      })
    },
    deletePhoto () {
      this.$store.dispatch('deleteProfilePersonalDataPhoto')
        .catch(error => {
          const errorHandler = this.$helpers.errorHandler(error)
          if (error.response.status !== 401) {
            swal.fire('Error delete profile photo', errorHandler, 'error')
          }
        })
    }
  },
  computed: {
    personalData () {
      return this.$store.state.profile.personalData
    }
  }
}
</script>

<style lang="scss" scoped>
.setting {
  border-radius: 5px;
  border: 1px solid #bdbdbd;

  .setting-title {
    padding: 15px 21px;
    font-size: 16px;
    font-weight: 500;
    color: #828282;
    background-color: #f2f2f2;
  }

  .setting-body {
    padding: 40px 40px 10px 40px;
    font-size: 16px;
    line-height: 1.41;
    color: #4f4f4f;

    .form-input {
      .personal-form-group {
        margin-bottom: 30px;
      }

      .input-label {
        font-size: 16px;
        letter-spacing: 0.6px;
        color: #4f4f4f;
        margin-bottom: 15px;

        .required {
          color: #e21f34;
        }
      }

      .input-label-nested {
        font-size: 14px;
        letter-spacing: 0.6px;
        color: #4f4f4f;
        margin-bottom: 15px;

        .required {
          color: #e21f34;
        }
      }

      .input-label-group {
        margin-bottom: 22px;
      }

      .field-description {
        padding: 10px 0px;
        font-size: 14px;
        letter-spacing: 0.6px;
        color: #828282;
      }

      .button-upload {
        border-radius: 3px;
        border: 1px solid #e21f34;
        font-size: 14px;
        color: #e21f34;
      }

      .field-description {
        padding: 10px 0px;
        font-size: 14px;
        letter-spacing: 0.6px;
        color: #828282;
      }

      .image-load {
        display: flex;
        position: relative;

        .image-upload {
          margin-right: 20px;

          img {
            height: 100px;
          }
        }

        .image-detail {
          .file-name {
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 0.6px;
            color: #4f4f4f;
            margin-bottom: 10px;
          }

          .view-notes {
            font-size: 14px;
            letter-spacing: 0.6px;
            color: #bdbdbd;
          }

          .image-delete {
            position: absolute;
            bottom: 0;
            font-size: 14px;
            color: #e21f34;

            a {
              cursor: pointer;

              span {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
.form-button {
  text-align: right;

  .button-save {
    border-radius: 5px;
    background-color: #e21f34;
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    width: 120px;
    height: 40px;
    margin-top: 30px;

    &:hover {
      color: #ffffff;
    }
  }
}
</style>
