<template>
  <footer>
      <p>Download <span class="app-name">IGN Delegate App</span> for announcement and further information about this event</p>
      <a href="https://play.google.com/store/apps/details?id=com.internationalglobalnetwork.androidapp" target="_blank">
          <img class="download-android" src="@/assets/badge-download-android.png"/>
      </a>
  </footer>
</template>

<script>

export default {
  name: 'Footer',
  components: {
    
  },
  data () {
    return {
      user: JSON.parse(localStorage.getItem('user')),
      inboxActive: false
    }
  },
  methods: {
    
  },
  computed: {
    
  }
}
</script>

<style lang="scss" scoped>
$phone: 360px;
$tablet: 768px;

footer {
    position: absolute;
    min-height: 100px;
    width: 100%;
    background-color: white;
    color: #4f4f4f;
    padding: 15px;
    text-align: center;


    @media (max-width: $tablet) {
      padding: 10px 24px;
      min-height: 80px;
      display: none;
    }

    p {
        font-size: 16px;
        font-weight: bold;

        @media (max-width: $tablet) {
            font-size: 14px;
        }
    }
    .download-android {
        width: 15%;
        margin-bottom: 10px;
        @media (max-width: $tablet) {
            width: 50%;
        }
    }

    .app-name {
        color: red;
    }
}
</style>
