<template>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg">
      <router-link
          :to="{ name: 'event', params: { uuidEvent } }"
          class="nav-link">
            <a class="navbar-brand">
              <img src="@/assets/ign-dashboard-logo.svg" alt="logo">
            </a>
        </router-link>
      
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <router-link
              class="nav-link"
              to="/my-event"
              :class="activeClass(
                'event',
                'my-event',
                'event-registration-summary-review',
                'event-registration-personal-data',
                'event-registration-contact-details',
                'event-registration-education-level',
                'event-registration-about-delegates',
                'event-registration-council'
              )">
                My Event
            </router-link>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a
              @click="readInbox"
              class="nav-link"
              href="#"
              id="inboxDropdown"
              data-toggle="dropdown"
              :class="[activeClass(
                'inbox',
                'inbox-detail'
              ), { active: inboxActive }]">
                Inbox
            </a>
            <div v-if="newInboxUnread" class="badge-unread"></div>
            <header-inbox></header-inbox>
          </li> -->
          <li class="nav-item">
            <router-link
              :to="{ name: 'event', params: { uuidEvent } }"
              class="nav-link"
              :class="activeClass(
                'event'
              )"
              >
                <i class="fa fa-home"></i> Home
            </router-link>
          </li>
          <li class="nav-item">
            <router-link
              to="/faq"
              class="nav-link"
              :class="activeClass(
                'faq',
                'faq-detail'
              )">
                <i class="fa fa-question-circle"></i> FAQ
            </router-link>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
              <i class="fa fa-user"></i> {{ user }} <i class="fas fa-caret-down"></i>
            </a>
            <header-profile></header-profile>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
import HeaderProfile from '@/components/HeaderProfile'
import HeaderInbox from '@/components/HeaderInbox'
import swal from 'sweetalert2'

export default {
  name: 'Header',
  components: {
    HeaderProfile,
    HeaderInbox
  },
  data () {
    return {
      user: JSON.parse(localStorage.getItem('user')),
      inboxActive: false,
      uuidEvent: this.$route.params.uuidEvent
    }
  },
  methods: {
    readInbox () {
      this.inboxActive = true
      this.$store.dispatch('updateNewInboxUnread')
        .catch(error => {
          const errorHandler = this.$helpers.errorHandler(error)
          if (error.response.status !== 401) {
            swal('Error get new inbox', errorHandler, 'error')
          }
        })
    },
    activeClass (...names) {
      for (let name of names) {
        if (name === this.$route.name) {
          return 'active'
        }
      }
    }
  },
  computed: {
    newInboxUnread () {
      return this.$store.state.inbox.newInboxUnread
    }
  }
}
</script>

<style lang="scss" scoped>
$phone: 360px;
$tablet: 768px;

header {
  .navbar {
    background-color: #333333;
    padding: 15px 50px;
    max-height: 60px;

    @media (max-width: $tablet) {
      padding: 10px 24px;
      display: none;
    }

    .navbar-toggler {
      border: 1px solid rgb(255, 255, 255);

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }

    .fa {
      margin-right: 5px;
    }
    
    .navbar-nav {
      @media (max-width: $tablet) {
        margin-top: 10px;
      }

      .nav-item {
        font-size: 16px;
        font-weight: 500;
        margin-left: 50px;

        @media (max-width: $tablet) {
          margin-left: 0px;
        }

        a {
          color: #bdbdbd;

          &.active {
            color: #ffffff !important;
            font-weight: 900;

            @media (max-width: $tablet) {
            }
          }

          i {
            margin-left: 10px;
          }
        }

        .badge-unread {
          width: 8px;
          height: 8px;
          background-color: #e21f34;
          border-radius: 50%;
          position: absolute;
          right: -6px;
          top: 10px;
        }
      }
    }

    .navbar-collapse {
      background-color: #333333;

      .nav-item {
        margin-left: 14px;
      }
    }
  }
}
</style>
