<template>
    <div class="form-group">
        <label v-if="label">{{ label }}</label>
        <input
            v-if="inputRequire === 'disabled'"
            name="text"
            :disabled="disabled"
            v-model="text"
            type="button"
            class="form-control">
        <input
            v-else
            :name="name"
            v-model="text"
            :disabled="disabled"
            type="button"
            v-validate="inputRequire"
            data-vv-delay="1000"
            class="form-control"
            @click="clicked"
            :class="[
                { 'input': true, 'is-danger': errors.has(name) },
                className
            ]" />
        <span v-show="errors.has(name)" class="is-danger-notif">
            {{ errors.first(name) }}
        </span>
        <accomodation-package
          v-if="accoModal"
          @close="accoModalHide"
          @choose="selectedAcco">
        </accomodation-package>
    </div>
</template>

<script>
import AccomodationPackage from '@/components/payments/AccomodationPackage'

export default {
  components:{
    AccomodationPackage
  },
    name: 'Facilities',
    props: {
    label: String,
    dataModel: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    disabled: String,
    inputRequire: {
      type: String,
      required: true
    },
    index: Number,
    name: {
      type: String,
      required: true
    },
    className: String
  },
  data () {
      return{
          text: this.dataModel,
          accoModal: true,
          accoId: null,
          price: null,
      }
  },
  watch: {
    text () {
      this.textInput()
    },
    dataModel (value) {
      this.text = value
    }
  },
  computed: {
    paymentSubmitStatus () {
      return this.$store.state.payment.paymentSubmitStatus
    }
  },
  created () {
    if(this.paymentSubmitStatus){
      this.accoModal = false
    }
  },
  methods: {
    clicked() {
      if(this.paymentSubmitStatus){
        this.accoModal = false
      } else {
        this.accoModal = true
      }
    },
    selectedAcco (value) {
      this.accoModal = false
      this.text = value.accomodation.title
      this.accoId = value.accomodation.id
      this.price = value.accomodation.price
    },
    accoModalHide(){
      this.accoModal= false
    },
    textInput () {
      this.$emit('textChange', this.text)
      if ((this.index >= 0) && this.mutation) {
        this.$store.commit(this.mutation, {
          value: this.accoId,
          index: this.index,
          text: this.text,
          price: this.price
        })
      } else {
        this.$store.commit(this.mutation, this.text)
      }
    }
  },
  inject: ['$validator']
}
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 0px;

  input {
    background-color: #ffffff;
    border-radius: 3px;
    height: 40px;
    border: 1px solid #bdbdbd;
    padding-left: 21px;
    text-align: left;

    &.login {
      height: 50px;
    }

    &:focus {
      background-color: #ffffff;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: #bdbdbd;
    }
  }
}
</style>