<template>
  <div class="form-group">
    <label v-if="label">{{ label }}</label>
    <!-- <datepicker
      v-if="inputRequire === 'disabled'"
      input-class="custom-calendar"
      :placeholder="placeholder"
      :bootstrap-styling="true"
      v-model="dateData">
    </datepicker>
    <div v-else>
      <datepicker
        :input-class="{'input': true, 'is-danger': errors.has(name)}"
        :placeholder="placeholder"
        :bootstrap-styling="true"
        v-model="dateData">
      </datepicker>
      <span v-show="errors.has(name)" class="is-danger-notif">
        {{ errors.first(name) }}
      </span>
      <input
        type="hidden"
        :name="name"
        v-validate="'required'"
        data-vv-delay="1000"
        v-model="dateData">
    </div> -->
    <input
      v-if="inputRequire === 'disabled'"
      name="text"
      :disabled="disabled"
      v-model="dateData"
      type="date"
      :placeholder="placeholder"
      class="form-control">
    <input
      v-else
      :name="name"
      v-model="dateData"
      :disabled="disabled"
      type="date"
      :placeholder="placeholder"
      v-validate="inputRequire"
      data-vv-delay="1000"
      class="form-control"
      :class="[
        { 'input': true, 'is-danger': errors.has(name) }
      ]" />
    <span v-show="errors.has(name)" class="is-danger-notif">
      {{ errors.first(name) }}
    </span>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'

export default {
  name: 'InputDate',
  components: {
    Datepicker
  },
  props: {
    label: String,
    placeholder: String,
    dataModel: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    disabled: String,
    inputRequire: {
      type: String,
      required: true
    },
    index: Number,
    name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      dateData: this.dataModel
    }
  },
  watch: {
    dataModel (value) {
      this.dateData = value
    },
    dateData (value) {
      if (this.index >= 0) {
        this.$store.commit(this.mutation, {
          value: value,
          index: this.index
        })
      } else {
        this.$store.commit(this.mutation, value)
      }
    }
  },
  inject: ['$validator']
}
</script>

<style scoped>
i.ti-close {
  color: #ff5630;
  position: relative;
  bottom: 29px;
  left: 148px;
  z-index: 2;
}
</style>
