<template>
    <div class="form-group">
        <label v-if="label">{{ label }}</label>
        <input
            v-if="inputRequire === 'disabled'"
            name="text"
            :disabled="disabled"
            v-model="text"
            type="button"
            class="form-control">
        <input
            v-else
            :name="name"
            v-model="text"
            :disabled="disabled"
            type="button"
            v-validate="inputRequire"
            data-vv-delay="1000"
            class="form-control"
            @click="clicked"
            :class="[
                { 'input': true, 'is-danger': errors.has(name) },
                className
            ]" />
        <span v-show="errors.has(name)" class="is-danger-notif">
            {{ errors.first(name) }}
        </span>
        <ticket-component
          v-if="ticketModal"
          @close="ticketModalHide"
          @choose="selectedTicket">
        </ticket-component>
    </div>
</template>

<script>
import TicketComponent from '@/components/TicketComponent'

export default {
  components:{
    TicketComponent
  },
    name: 'Facilities',
    props: {
    label: String,
    dataModel: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    disabled: String,
    inputRequire: {
      type: String,
      required: true
    },
    index: Number,
    name: {
      type: String,
      required: true
    },
    className: String
  },
  data () {
      return{
          text: this.dataModel,
          ticketModal : false,
          ticketId: null,
          uuidEvent: this.$route.params.uuidEvent,
          price: null
      }
  },
  created () {
    if(this.paymentSubmitStatus){
      this.ticketModal = false
    }
  },
  watch: {
    text () {
      this.textInput()
    },
    dataModel (value) {
      this.text = value
    }
  },
  computed: {
    paymentSubmitStatus () {
      return this.$store.state.payment.paymentSubmitStatus
    }
  },
  methods: {
    clicked() {
      if(this.paymentSubmitStatus){
        this.ticketModal = false
      } else {
        this.ticketModal = true
      }
    },
    selectedTicket (value) {
      this.ticketModal = false
      this.text = value.ticket.title
      this.ticketId = value.ticket.id
      this.price = value.ticket.discount
      this.loadPaymentType()
    },
    loadPaymentType() {
      this.loadingState = 'fetch'
      this.$store.dispatch('loadPaymentType', {
        uuidEvent: this.uuidEvent
      })
    },
    // loadPaymentPlan (value) {
    //   this.$store.dispatch('loadPaymentType',{value})
    // },
    ticketModalHide(){
      this.ticketModal= false
    },
    textInput () {
      this.$emit('textChange', this.text)
      if ((this.index >= 0) && this.mutation) {
        this.$store.commit(this.mutation, {
          value: this.ticketId,
          index: this.index,
          text: this.text,
          price: this.price
        })
      } else {
        this.$store.commit(this.mutation, this.text)
      }
    }
  },
  inject: ['$validator']
}
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 0px;

  input {
    background-color: #ffffff;
    border-radius: 3px;
    height: 40px;
    border: 1px solid #bdbdbd;
    padding-right: 21px;
    text-align: left;

    &.login {
      height: 50px;
    }

    &:focus {
      background-color: #ffffff;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: #bdbdbd;
    }
  }
}
</style>