<template>
    <div>
        <label v-if="label">{{ label }}</label>
        <country-select
            v-if="inputRequire === 'disabled'"
            name="text"
            v-model="country" 
            :country="country" 
            topCountry="US"
            :countryName="true"
            :usei18n="false"
            type="select"
            className="form-control"/>
          <country-select
            v-else
            v-model="country" 
            :name="name"
            :country="country" 
            topCountry="US"
            :countryName="true"
            :usei18n="false"
            v-validate="inputRequire"
            type="select"
            className="form-control"
            :class="[
                { 'input': true, 'is-danger': errors.has(name) }
            ]"/>
        <span v-show="errors.has(name)" class="is-danger-notif">
          {{ errors.first(name) }}
        </span>
    </div>
</template>

<script>
import vueCountryRegionSelect from 'vue-country-region-select'
import Vue from 'vue'
Vue.use(vueCountryRegionSelect)
export default {
    name: 'InputCountry',
    props: {
    label: String,
    placeholder: String,
    dataModel: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    disabled: String,
    inputRequire: {
      type: String,
      required: true
    },
    index: Number,
    name: {
      type: String,
      required: true
    },
  },
  data: () => ({
    country: ''
  }),
  created () {
    if (this.dataModel) {
      this.country = this.dataModel
    }
  },
  watch: {
    country (value) {
      if (this.index >= 0) {
        this.$store.commit(this.mutation, {
          value: value,
          index: this.index
        })
      } else {
        this.$store.commit(this.mutation, value) 
      }
    }
  },
  inject: ['$validator']
}
</script>

<style scoped>
i.ti-close {
  color: #ff5630;
  position: relative;
  bottom: 29px;
  left: 148px;
  z-index: 2;
}
</style>
