<template>
  <div>
    <div class="form-control" :class="{'input': true, 'is-danger': errors.has(name) }">
      <input
        :id="idFile"
        v-if="!progressActive && !dataModel"
        :name="name"
        type="file"
        :disabled="disabledInput"
        @change="onFileChange"
        data-vv-delay="1000" />
      <div v-if="progressActive" class="progress">
        <div
          id="progressBar"
          class="progress-bar progress-bar-success"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width:0%">
            <span>Upload 0% complete</span>
        </div>
      </div>
      <div v-if="dataModel">{{ dataModel }}</div>
    </div>
    <div v-show="errors.has(name)" class="is-danger-notif file-alert">
      {{ errors.first(name) }}
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import Endpoint from '@/endpoint'

export default {
  name: 'File',
  props: {
    mutation: {
      type: String
    },
    dataModel: {
      type: String
    },
    name: {
      type: String,
      required: true
    },
    endpointUrl: {
      type: String,
      required: true
    },
    idFile: {
      type: String,
      required: true
    },
    disabledInput: String,
    index: Number,
    action: String
  },
  data () {
    return {
      progressActive: false,
      formatValidation: true,
      token: localStorage.getItem('user-token')
    }
  },
  methods: {
    onFileChange (e) {
      let files = e.target.files || e.dataTransfer.files

      if (!files.length) {
        return
      }

      this.sendFileToServer(e)
    },
    sendFileToServer (e) {
      let files = e.target.files || e.dataTransfer.files

      this.progressActive = true
      let xhr = new XMLHttpRequest()
      xhr.upload.addEventListener('progress', function (e) {
        if (e.lengthComputable) {
          let percentComplete = e.loaded / e.total
          let progressValue = Math.round(percentComplete * 100)
          let progressStyle = 'width: ' + progressValue + '%'
          let progressText = 'Upload ' + progressValue + '% complete'
          document.getElementById('progressBar').innerHTML = progressText
          document.getElementById('progressBar').style = progressStyle
        }
      }, false)

      xhr.responseType = 'json'
      xhr.onreadystatechange = function (vm) {
        if (Number(this.readyState) === 4 && Number(this.status) === 200) {
          let response = this.response.data
          let filename = response.filename
          let pathFilename = response.path_filename
          let url = response.url

          if (vm.index >= 0) {
            if (vm.mutation) {
              vm.$store.commit(vm.mutation, {
                filename,
                pathFilename,
                url,
                index: vm.index
              })
            }
          } else {
            if (vm.mutation) {
              vm.$store.commit(vm.mutation, {
                filename,
                pathFilename,
                url
              })
            }

            if (vm.action) {
              vm.$store.dispatch(vm.action)
            }
          }
          vm.progressActive = false
        }

        if (Number(this.status) === 422) {
          swal.fire('Error!', 'Error Upload Document', 'error')
          vm.progressActive = false
          vm.formatValidation = true
        }
      }.bind(xhr, this)

      let data = new FormData()
      data.append('file', files[0])

      xhr.open('POST', Endpoint.BASE_URL + this.endpointUrl)
      xhr.setRequestHeader('Authorization', 'Bearer ' + this.token)
      xhr.send(data)

      xhr.onerror = function (vm) {
        swal.fire('Error!', 'Error Upload Document', 'error')
        vm.progressActive = false
        vm.formatValidation = true
      }.bind(xhr, this)

      this.formatValidation = false
    }
  },
  inject: ['$validator']
}
</script>

<style scoped>
.file-alert {
  margin-top: 3px;
}
.notes {
  color: #8091a5;
}
</style>
