<template>
  <div class="form-group">
    <label v-if="label">{{ label }}</label>
    <input
      v-if="inputRequire === 'disabled'"
      :name="name"
      :disabled="disabled"
      v-model="text"
      @change="textInput($event.target.value)"
      ref="password"
      type="password"
      :placeholder="placeholder"
      class="form-control">
    <input
      v-else
      :name="name"
      v-model="text"
      :disabled="disabled"
      @change="textInput($event.target.value)"
      type="password"
      ref="password"
      :placeholder="placeholder"
      v-validate="inputRequire"
      data-vv-delay="1000"
      class="form-control"
      :class="[
        { 'input': true, 'is-danger': errors.has(name) },
        className
      ]" />
    <span v-show="errors.has(name)" class="is-danger-notif">
      {{ errors.first(name) }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'InputPassword',
  props: {
    label: String,
    placeholder: String,
    dataModel: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    disabled: String,
    inputRequire: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    className: String
  },
  data () {
    return {
      text: this.dataModel
    }
  },
  watch: {
    text () {
      this.textInput()
    },
    dataModel (value) {
      this.text = value
    }
  },
  methods: {
    textInput () {
      this.$emit('textChange', this.text)
      this.$store.commit(this.mutation, this.text)
    }
  },
  inject: ['$validator']
}
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 0px;

  input {
    background-color: #ffffff;
    border-radius: 3px;
    height: 40px;
    border: 1px solid #bdbdbd;
    padding: 15px 20px;

    &.login {
      height: 50px;
    }

    &:focus {
      background-color: #ffffff;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: #bdbdbd;
    }
  }
}
</style>
