<template>
  <div class="form-group">
    <label v-if="label">{{ label }}</label>
    <vue-tel-input
      v-if="inputRequire === 'disabled'"
      name="phone"
      :disabled="disabled"
      v-model="phone"
      :placeholder="placeholder"
      class="form-control"/>
    <vue-tel-input
      v-else
      :name="name"
      v-model="phone"
      :disabled="disabled"
      :placeholder="placeholder"
      v-validate="inputRequire"
      data-vv-delay="1000"
      class="form-control"
      :class="[
        { 'input': true, 'is-danger': errors.has(name) },
        className
      ]" />
    <span v-show="errors.has(name)" class="is-danger-notif">
      {{ errors.first(name) }}
    </span>
  </div>
</template>

<script>
import 'vue-tel-input/dist/vue-tel-input.css';

import VueTelInput from 'vue-tel-input';

export default {
  components: {
    VueTelInput,
  },
  name: 'InputPhone',
  props: {
    label: String,
    placeholder: String,
    dataModel: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    disabled: String,
    inputRequire: {
      type: String,
      required: true
    },
    index: Number,
    name: {
      type: String,
      required: true
    },
    className: String
  },
  data () {
    return {
      phone: this.dataModel
    }
  },
  watch: {
    phone (value) {
      if (this.index >= 0) {
        this.$store.commit(this.mutation, {
          value: value,
          index: this.index
        })
      } else {
        this.$store.commit(this.mutation, value) 
      }
    }
  },
  methods: {
    textInput () {
      this.$emit('textChange', this.phone)
      if ((this.index >= 0) && this.mutation) {
        this.$store.commit(this.mutation, {
          value: this.phone,
          index: this.index
        })
      } else {
        this.$store.commit(this.mutation, this.phone)
      }
    }
  },
  inject: ['$validator']
}
</script>

<style lang="scss" scoped>
.form-group {
  margin-bottom: 0px;

  input {
    background-color: #ffffff;
    border-radius: 3px;
    height: 50px;
    border: 1px solid #bdbdbd;
    padding: 15px 20px;

    &:focus {
      background-color: #ffffff;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: #bdbdbd;
    }
  }
}
</style>
