<template>
  <div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        :name="name"
        v-model="radio"
        :value="value"
        @change="radioInput(radio)"
        :id="idRadio">
      <span class="checkmark"></span>
      <label v-if="label" class="form-check-label" :for="idRadio">{{ label }}</label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Radio',
  props: {
    label: String,
    value: {
      required: true
    },
    dataModel: {
      required: true
    },
    idRadio: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    index: Number,
    name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      radio: ''
    }
  },
  watch: {
    dataModel (value) {
      this.radio = value
    }
  },
  created () {
    if (this.dataModel) {
      this.radio = this.dataModel
    }
  },
  methods: {
    radioInput (value) {
      this.$emit('radioChange', value)
      if (this.index >= 0) {
        this.$store.commit(this.mutation, {
          index: this.index,
          value
        })
      } else {
        this.$store.commit(this.mutation, value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.form-check {
  margin: 10px 0;
  
  .form-check-label {
    font-size: 16px;
    font-weight: 900;
    color: #4f4f4f;
    padding-left: 17px;
  }

  input {
    /* hidden original input */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 14px;
    width: 12px;
    z-index: 1;

    /* When the checkbox is checked, add a red background */
    &:checked ~ .checkmark {
      background-color: #e21f34;
      padding: 3px;
      background-clip: content-box;
      border: 2px solid #e21f34;

      /* Show the checkmark when checked */
      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 2px solid #eeeeee;
    border-radius: 50%;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}
</style>
