<template>
  <div v-click-outside="hideItems" class="form-group">
    <label v-if="label">{{ label }}</label>
    <div class="select-dropdown">
      <input
        v-if="inputRequire === 'disabled'"
        name="select"
        readonly
        :disabled="disabled"
        v-model="select"
        @click="showItems"
        type="text"
        :placeholder="defaultSelectLabel"
        class="form-control input-dropdown"
        :class="[{ active: showOptions}, select === defaultSelectLabel ? 'select-placeholder' : '']" />
      <input
        v-else
        :name="name"
        readonly
        :disabled="disabled"
        v-model="select"
        @click="showItems"
        type="text"
        :placeholder="defaultSelectLabel"
        class="form-control input-dropdown"
        v-validate="'required'"
        data-vv-delay="1000"
        :class="[
          { active: showOptions },
          select === defaultSelectLabel ? 'select-placeholder' : '',
          {'input': true, 'is-danger': errors.has(name)}
        ]" />
      <i :class="{ active: showOptions }" class="fas fa-caret-down arrow-right"></i>
      <transition name="fade">
        <div v-show="showOptions">
          <div class="popper-arrow"></div>
          <div class="options">
            <div v-if="searchSelect" class="items input-search">
              <input
                @click="showItems"
                type="text"
                v-model="search"
                class="form-control"
                placeholder="Search...">
            </div>
            <div @click="chooseItem(defaultSelectLabel, '')" class="items select-placeholder">{{ defaultSelectLabel }}</div>
            <div
              v-for="(list, index) in listFiltered"
              :key="index"
              @click="chooseItem(list.description, list.id)"
              class="items">
                <span v-html="list.description"></span>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  name: 'PaymentMethod',
  props: [
    'label',
    'listSelect',
    'defaultSelectLabel',
    'dataModel',
    'mutation',
    'disabled',
    'inputRequire',
    'index',
    'type',
    'action',
    'searchSelect',
    'name',
    'loadingState',
    'actionInParent'
  ],
  data () {
    return {
      select: '',
      showOptions: false,
      search: '',
      text: null,
    }
  },
  watch: {
    dataModel (value) {
      if (value !== '') {
        let findIndexSelect = this.listSelect.findIndex(item => String(item.id) === String(value))
        this.select = this.listSelect[findIndexSelect].description
        if (this.action) {
          this.$store.dispatch(this.action, {
            code: value
          })
        }
      } else {
        if (this.action) {
          this.$store.dispatch(this.action, {
            code: ''
          })
        }
        this.select = ''
      }
    },
    loadingState (value) {
      if (value === 'success') {
        let findIndexSelect = this.listSelect.findIndex(item => String(item.id) === String(this.dataModel))
        this.select = this.listSelect[findIndexSelect].description

        if (this.actionInParent && this.index >= 0) {
          this.$emit('selectChange', {
            select: this.dataModel,
            index: this.index
          })
        }

        if (this.actionInParent) {
          this.$emit('selectChange', this.dataModel)
        }

        if (this.action) {
          this.$store.dispatch(this.action, {
            code: this.dataModel
          })
        }
      }
    }
  },
  created () {
    let findIndexSelect = this.listSelect.findIndex(item => String(item.id) === String(this.dataModel))
    this.select = this.listSelect[findIndexSelect].description

    if (this.dataModel === undefined) {
      this.select = ''
    }

    if (this.dataModel === '') {
      this.select = ''
    }

    if (this.action && this.dataModel) {
      this.$store.dispatch(this.action, {
        code: this.dataModel
      })
    }
  },
  methods: {
    hideItems () {
      this.showOptions = false
    },
    showItems () {
      this.showOptions = true
    },
    chooseItem (name, select) {
      if (this.index >= 0) {
        this.$emit('selectChange', {
          select,
          index: this.index
        })
      } else {
        this.$emit('selectChange', select)
      }

      if (name !== this.defaultSelectLabel) {
        this.select = name
      } else {
        this.select = ''
      }

      if (this.mutation && this.index >= 0) {
        this.$store.commit(this.mutation, {
          value: select,
          index: this.index,
          text: this.select
        })
      }

      this.showOptions = false
    }
  },
  computed: {
    listFiltered () {
      return this.listSelect.filter(list => {
        let nameList = String(list.description)
        return nameList.toLowerCase().includes(this.search.toLowerCase())
      })
    },
    paymentSubmitStatus () {
      return this.$store.state.payment.paymentSubmitStatus
    }
  },
  directives: {
    ClickOutside
  },
  inject: ['$validator']
}
</script>

<style scoped>
.form-control[readonly] {
  background-color: #ffffff;
  cursor: default;
}
.form-control[disabled] {
  background-color: #eee;
  cursor: not-allowed;
}
.options {
  margin-top: 9px;
  box-shadow: 0 2px 6px 0 #b0bac5;
  border: solid 1px #dfe4ef;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 1;
  max-height: 300px;
  overflow: scroll;
}
.items {
  color: #6c798f;
  padding: 12px;
}
.items:hover {
  background-color: #f7f8fa;
}
.input-search:hover {
  background-color: #fff;
}
.popper-arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 7px solid rgba(176,186,197, 0.1);
  border-right: 7px solid rgba(176,186,197, 0.1);
  border-bottom: 7px solid #fff;
  right: 10%;
  margin-top: 3px;
  z-index: 2;
}
.select-dropdown {
  position: relative;
}
.select-placeholder {
  color: #b0bac5;
}
.input-dropdown:hover {
  border: solid 1px #b0bac5 !important;
}
.select-dropdown:hover > i.arrow-right {
  color: #b0bac5;
}
.arrow-right {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  right: 5px;
  color: #dfe6ee;
}
.active.arrow-right {
  transform: rotate(180deg);
  color: #0099fa !important;
  top: 21%;
}
.fade-enter-active, .fade-leave-active {
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateY(-2em);
}
.is-danger {
  border-color: red;
}
</style>
