<template>
  <div class="form-check">
    <input
      v-if="trueFalseMode"
      class="form-check-input"
      type="checkbox"
      :name="name"
      v-model="checkTrueFalse"
      @change="checkInput($event.target.value)"
      :id="idCheck">
    <input
      v-else
      class="form-check-input"
      type="checkbox"
      :name="name"
      :value="value"
      v-model="checkMultipleType"
      @change="checkInput($event.target.value)"
      :id="idCheck">
    <label v-if="label" class="form-check-label" :class="classLabel" :for="idCheck">{{ label }}</label>
  </div>
</template>

<script>
export default {
  name: 'Checkbox',
  props: {
    label: String,
    dataModel: {
      required: true
    },
    idCheck: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    classLabel: String,
    value: Number,
    trueFalseMode: {
      type: Boolean,
      required: true
    },
    checkAll: Boolean,
    mutationReset: String
  },
  data () {
    return {
      checkTrueFalse: false,
      checkMultipleType: []
    }
  },
  created () {
    if (this.dataModel) {
      this.checkTrueFalse = this.dataModel
      this.checkMultipleType = this.dataModel
    }
  },
  watch: {
    dataModel (value) {
      this.checkTrueFalse = this.dataModel
      this.checkMultipleType = this.dataModel
    },
    checkAll (toggle) {
      if (toggle) {
        this.$store.commit(this.mutation, this.value)
      }
    }
  },
  methods: {
    checkInput (value) {
      this.$emit('checkChange', value)
      if (this.trueFalseMode) {
        this.$store.commit(this.mutation, this.checkTrueFalse)
      } else {
        this.$store.commit(this.mutation, this.value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.form-check {
  .form-check-label {
    line-height: 1.71;
    color: rgba(0, 0, 0, 0.4);

    &.head-category-product {
      font-size: 14px;
      line-height: 1.14;
      color: #000000;
      font-weight: normal;
    }

    &.body-category-product {
      font-size: 14px;
      line-height: 1.14;
      color: rgba(0, 0, 0, 0.6);
      font-weight: normal;
    }
  }
}
</style>
