<template>
    <div>
        <label v-if="label">{{ label }}</label>
        <datepicker
            v-if="inputRequire === 'disabled'"
            name="text"
            :disabled="disabled"
            v-model="dateData"
            type="date"
            :placeholder="placeholder"
            class="form-control"/>
        <datepicker
            v-else
            :name="name"
            v-model="dateData"
            :disabled="disabled"
            type="date"
            :placeholder="placeholder"
            v-validate="inputRequire"
            data-vv-delay="1000"
            class="form-control"
            />
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
export default {
    name: 'InputDatePicker',
    components:{
        Datepicker
    },
    props: {
    label: String,
    placeholder: String,
    dataModel: {
      type: String,
      required: true
    },
    mutation: {
      type: String,
      required: true
    },
    disabled: String,
    inputRequire: {
      type: String,
      required: true
    },
    index: Number,
    name: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      dateData: this.dataModel
    }
  },
  mounted() {
    document.querySelector('.vdp-datepicker.form-control div input').style.border = 'none'
    document.querySelector('.vdp-datepicker.form-control div input').style.width = '100%'
    document.querySelector('.vdp-datepicker.form-control div input').style.height = '28px'
    document.querySelector('.vdp-datepicker.form-control').style.padding = '0px 6px'
  },
  watch: {
    dataModel (value) {
      this.dateData = value
    },
    dateData (value) {
      if (this.index >= 0) {
        this.$store.commit(this.mutation, {
          value: moment(value).format('YYYY-MM-DD'),
          index: this.index
        })
      } else {
        this.$store.commit(this.mutation, moment(value).format('YYYY-MM-DD')) 
      }
    }
  },
  inject: ['$validator']
}
</script>

<style scoped>
i.ti-close {
  color: #ff5630;
  position: relative;
  bottom: 29px;
  left: 148px;
  z-index: 2;
}
.form-control input {
  border-style: none;
  background: black;
}

.vdp-datepicker.form-control div input {
  border: none;
}
</style>
