<template>
  <nav aria-label="Page navigation" class="pull-right">
    <ul class="pagination">
      <!-- <li :class="{ disabled: previousPageDisabled }">
        <a @click="!previousPageDisabled ? getPage(1) : ''" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li> -->
      <li :class="{ disabled: previousPageDisabled }">
        <a @click="!previousPageDisabled ? getPagePrevious() : ''" aria-label="First">
          <span aria-hidden="true">Previous</span>
        </a>
      </li>
      <li v-if="hiddenPagesOne" class="disabled">
        <a>
          <span aria-hidden="true">...</span>
        </a>
      </li>
      <li
        v-for="page in paginationPages"
        :key="page.id"
        :class="{ active: page.isActive }">
          <a @click="getPage(page.number)">{{ page.number }}</a>
      </li>
      <li v-if="hiddenPagesLast" class="disabled">
        <a>
          <span aria-hidden="true">...</span>
        </a>
      </li>
      <li :class="{ disabled: nextPageDisabled }">
        <a @click="!nextPageDisabled ? getPageNext() : ''" aria-label="Next">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
      <!-- <li :class="{ disabled: nextPageDisabled }">
        <a @click="!nextPageDisabled ? getPage(totalPages) : ''" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li> -->
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    totalPages: {
      type: Number,
      required: true
    },
    actions: {
      type: String,
      required: true
    },
    commitPageSelect: {
      type: String,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    },
    idActions: String
  },
  data () {
    return {
      pages: [],
      totalPagesWatch: null,
      hiddenPagesOne: false,
      hiddenPagesLast: false,
      nextPageDisabled: false,
      previousPageDisabled: false
    }
  },
  created () {
    this.getPage(1)
  },
  computed: {
    paginationPages () {
      let pages = this.paginationPagesMethod()
      return pages
    }
  },
  methods: {
    paginationPagesMethod () {
      let totalPages = parseInt(this.totalPages)
      let page = parseInt(this.currentPage)
      this.pages = []

      let maxButtons = 7
      let currentPage = Math.min(page, totalPages)
      let lowerLimit = currentPage
      let upperLimit = currentPage

      for (let b = 1; b < maxButtons && b < totalPages;) {
        if (lowerLimit > 1) {
          lowerLimit--
          b++
        }
        if (b < maxButtons && upperLimit < totalPages) {
          upperLimit++
          b++
        }
      }

      for (let i = lowerLimit; i <= upperLimit; i++) {
        if (i === currentPage) {
          this.pages.push({
            number: i,
            isActive: true
          })
        } else {
          this.pages.push({
            number: i
          })
        }
      }

      let findOne = this.pages.findIndex(i => i.number === 1)
      let findLast = this.pages.findIndex(i => i.number === totalPages)

      if (findOne === -1) this.hiddenPagesOne = true
      else this.hiddenPagesOne = false

      if (findLast === -1) this.hiddenPagesLast = true
      else this.hiddenPagesLast = false

      if (page === 1) this.previousPageDisabled = true
      else this.previousPageDisabled = false

      if (page === totalPages) this.nextPageDisabled = true
      else this.nextPageDisabled = false

      return this.pages
    },
    getPage (pageSelect) {
      this.$store.commit(this.commitPageSelect, pageSelect)
      if (this.idActions) {
        this.$store.dispatch(this.actions, {
          idActions: this.idActions
        })
      } else {
        this.$store.dispatch(this.actions)
      }
    },
    getPageNext () {
      let findPageActive = this.pages.findIndex(i => i.isActive === true)
      let getNumberPage = this.pages[findPageActive].number
      let nextPage = getNumberPage + 1

      this.getPage(nextPage)

      this.$store.commit(this.commitPageSelect, nextPage)
    },
    getPagePrevious () {
      let findPageActive = this.pages.findIndex(i => i.isActive === true)
      let getNumberPage = this.pages[findPageActive].number
      let previousPage = getNumberPage - 1

      this.getPage(previousPage)

      this.$store.commit(this.commitPageSelect, previousPage)
    }
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  justify-content: center;

  .active {
    a, a:hover {
      color: #e21f34;
    }
  }

  li {
    a {
      font-size: 16px;
      font-weight: 500;
      color: #4f4f4f;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-right: 17px;
      padding-left: 9px;
      cursor: pointer;
    }
  }

  .disabled {
    a {
      color: #777
    }
  }
}
</style>
