<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
            <div class="row close">
                <div class="modal-close">
                    <a @click="faqPopupHide">
                        <img src="@/assets/icons/close.svg" alt="">
                    </a>
                </div>
            </div>
          <div class="body">
            <div class="modal-title">
                <span>Choose Your Accomodation Package</span>
            </div>
            <div class="modal-body">
                <div class="offer-container">
                  <!-- <div class="offer-card">
                    <div class="recommend">
                      <p>RECOMMENDED</p>
                    </div>
                    <div class="content">
                      <p class="title">kjznsfkjnzsdf</p>
                      <p class="price">$200</p>
                    </div>
                    <div class="benefit-container">
                    </div>
                  </div>

                  <div class="offer-card">
                    <div class="content">
                      <p class="title">kjznsfkjnzsdf</p>
                      <p class="price">$200</p>
                    </div>
                  </div> -->
                  <div v-for="(accomodation) in paymentAccomodation" :key="accomodation.id" class="offer-card">
                    <div v-if="accomodation.isRecommend == true" class="recommend">
                      <p>RECOMMENDED</p>
                    </div>
                    <div @click="choose(accomodation)" class="content">
                      <p class="title">{{accomodation.title}} - {{accomodation.total_benefit}} BENEFIT</p>
                      <p class="price">${{accomodation.price}}</p>
                      <div class="rectangle"></div>
                      <p class="deadline">Pay before - {{accomodation.deadline}} </p>
                      <hr>
                      <div v-for="(benefit) in accomodation.benefit" :key="benefit.id" class="benefit-container">
                        <p v-if="benefit.mark == 1" class="benefit">
                          <span class="checklist-icon"><img src="@/assets/icons/ic-checklist.svg" alt=""></span>
                          {{benefit.detail}}
                        </p>
                        <p v-else class="benefit non-active">
                          <span class="checklist-icon"><img src="@/assets/icons/ic_checklist_disable.svg" alt=""></span>
                          <strike>{{benefit.detail}}</strike>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import swal from 'sweetalert2'

export default {
  name: 'AccomodationPackage',
  directives: {
    ClickOutside
  },
  data () {
    return {
      loadingState: '',
      loadingStateFaqData: '',
      uuidEvent: this.$route.params.uuidEvent,
    }
  },
  created () {
    this.loadAccomodation()
    this.loadingState = 'error'
    this.$store.dispatch('loadEventFaqDetail', {
      uuidEvent: this.$route.params.uuidEvent
    }).then(response => {
      this.loadingState = 'success'
    }).catch(error => {
      this.loadingState = 'error'
      const errorHandler = this.$helpers.errorHandler(error)
      if (error.response.status !== 401) {
        swal('Error get event faq detail', errorHandler, 'error')
      }
    })
  },
  computed: {
    paymentAccomodation () {
      return this.$store.state.payment.paymentAccomodation
    },
    eventFaq () {
      return this.$store.state.event.eventFaqDetail
    }
  },
  methods: {
    choose (accomodation) {
      this.$emit('choose', {
          accomodation
        })
    },
    loadAccomodation () {
      this.$store.dispatch('loadPaymentAccomodation', {
        uuidEvent: this.uuidEvent
      })
    },
    faqPopupHide () {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;

  .modal-container {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: auto;
    height: 700px;
    padding: 30px 40px;

    .row.body{
        padding-top: 20px;
    }

    .modal-close {
      margin-bottom: 30px;
      float: right;
      a {
        cursor: pointer;
      }
    }

    .modal-title {
      img {
        width: 100px;
        padding-right: 20px;
      }

      span {
        font-family: Helvetica;
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.01px;
        color: #222220;
      }
    }

    .modal-body {
      .checklist-icon{
        margin-right: 9px;
      }
      .non-active{
        color: #959696;
      }
      .offer-container {
        font-family: HelveticaNeue;
        color: #222220;
        text-align: center;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        margin-top: 50px;
        .offer-card{
          display: inline-block !important;
          margin: 0 22px;
          .recommend{
            width: 384px;
            height: 26px;
            opacity: 0.81;
            border-radius: 6px 6px 0px 0px;
            background-color: #d80b36;
            p{
              padding-top: 4px;
              width: 382px;
              height: 17px;
              font-family: HelveticaNeue;
              font-size: 14px;
              font-weight: bold;
              letter-spacing: 2px;
              text-align: center;
              color: #ffffff;
            }
          }
          width: 384px;
          // height: 745px;
          border-radius: 6px;
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.27);
          background-color: #ffffff;
          .content{
            padding-top: 38px;
            .title{
              width: 381px;
              height: 25px;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 2px;
            }
            .price{
              width: 384px;
              height: 47px;
              font-size: 35px;
              font-weight: bold;
              letter-spacing: 0.02px;
            }
            .rectangle{
              width: 34.2px;
              height: 6px;
              border-radius: 5px;
              background-color: #d80b36;
              margin: auto;
              margin-top: 25px;
              margin-bottom: 25px;
            }
            .deadline{
              width: 384px;
              height: 17px;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 2px;
              color: #222220;
            }
            hr{
              width: 299px;
              height: 2px;
            }
            .benefit-container{
              text-align: left;
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: opacity, transform 200ms ease-out;
}

</style>