<template>
  <div>
    <div v-if="loadingState === 'success'">
      <div class="event-payment">
        <div class="body">
          <div class="event-payment-lists">
            <div class="row">
              <!-- <div v-for="(paymentType) in eventPayment.payment_type" :key="paymentType.id" class="col-md-6">
                <div
                  class="payment-image"
                  @click="selectPayment(paymentType.id)">
                    <img
                      :class="eventIdSelect === paymentType.id ? 'active' : ''"
                      :src="paymentType.image"
                      alt="image">
                    <div v-if="eventIdSelect === paymentType.id" class="overlay"></div>
                </div>
                <div class="days-countdown">
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="event-submit">
        <a
          @click="submitEventPayment"
          class="btn button-next"
          :class="submitLoadingState === 'fetch' ? 'disabled' : ''">
            <i v-if="submitLoadingState === 'fetch'" class="fas fa-spinner fa-spin fa-1x"></i>
            <i class="fa fa-arrow-right"></i>
            Next
        </a>
      </div>
    </div>
    <div v-if="loadingState === 'fetch'" class="text-center">
      <i class="fas fa-spinner fa-spin loading-state-spin"></i>
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert2'

export default {
  name: 'EventPayment',
  data () {
    return {
      loadingState: '',
      submitLoadingState: '',
      eventIdSelect: null,
      uuidEvent: this.$route.params.uuidEvent
    }
  },
  created () {
    this.loadEventPayment()
    this.loadPaymentProgress()
  },
  methods: {
    loadEventPayment () {
      this.loadingState = 'fetch'
      this.$store.dispatch('loadEventPayment', {
        uuidEvent: this.uuidEvent
      }).then(response => {
        this.loadingState = 'success'
        const paymentType = response.data.data.payment_type
        const findIndexActive = paymentType.findIndex(type => type.active)

        if (findIndexActive >= 0) {
          this.selectPayment(paymentType[findIndexActive].id)
        } else {
          this.selectPayment(paymentType[0].id)
        }
      }).catch(error => {
        this.loadingState = 'error'
        const errorHandler = this.$helpers.errorHandler(error)
        if (error.response.status !== 401) {
          swal.fire('Error get event payment', errorHandler, 'error')
        }
      })
    },
    loadPaymentProgress () {
      this.$store.dispatch('loadPaymentProgress', {
        uuidEvent: this.uuidEvent
      }).catch(error => {
        const errorHandler = this.$helpers.errorHandler(error)
        if (error.response.status !== 401) {
          swal.fire('Error get payment progress', errorHandler, 'error')
        }
      })
    },
    selectPayment (eventId) {
      this.eventIdSelect = eventId
    },
    submitEventPayment () {
      this.submitLoadingState = 'fetch'
      this.$store.dispatch('submitEventPayment', {
        uuidEvent: this.uuidEvent,
        paymentType: this.eventIdSelect
      }).then(response => {
        this.submitLoadingState = 'success'
        this.$router.push('/payment/payment-type/' + this.$route.params.uuidEvent)
      }).catch(error => {
        this.submitLoadingState = 'error'
        const errorHandler = this.$helpers.errorHandler(error)
        if (error.response.status !== 401) {
          swal.fire('Error submit event payment', errorHandler, 'error')
        }
      })
    }
  },
  computed: {
  eventPayment () {
      return this.$store.state.payment.eventPayment
    }
  },
  paymentForm () {
    return this.$store.dummyData.payment.paymentForm
  },
  destroyed () {
    this.$store.commit('resetPaymentState')
  }
}
</script>

<style lang="scss" scoped>
.event-payment {
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  margin-top: 50px;

  .body {
    padding: 60px 65px 30px 65px;

    .event-payment-lists {
      display: flex;
      justify-content: space-around;
      text-align: center;

      .payment-image {
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;
        width: 250px;
        height: 250px;
        margin: 0 auto;

        img {
          width: 250px;

          &.active {
            border: 5px solid #e21f34;
          }
        }

        .overlay {
          background: rgba(226, 31, 52, 0.5);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: .5;
        }
      }

      .days-countdown {
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.41;
        letter-spacing: normal;
        color: #828282;
        margin: 20px 0px;

        span {
          font-weight: 900;
          color: #e21f34;
        }
      }
    }
  }
}
.event-submit {
  text-align: right;
  margin-top: 17px;
  margin-bottom: 86px;

  .button-next {
    border-radius: 5px;
    background-color: #e21f34;
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    width: 120px;
    height: 40px;
    padding-top: 8px;

    &:hover {
      color: #ffffff;
    }
  }
}
</style>
