<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      token: localStorage.getItem('user-token')
    }
  },
  created () {
    this.redirectLogoutIfNotAuthenticated()
    this.redirectIfAuthenticated()
  },
  methods: {
    redirectLogoutIfNotAuthenticated () {
      this.$http.interceptors.response.use(undefined, (err) => {
        if (err.response.status === 401) {
          this.$store.dispatch('submitAuthLogout')
            .then(response => {
              this.$router.push('/')
            })
        }
        throw err
      })
    },
    redirectIfAuthenticated () {
      if (this.$route.path === '/' && this.token) {
        const pathname = window.location.pathname
        this.$store.dispatch('submitAuthLogout')
          .then(response => {
            this.$router.push({ name: 'login', params: { uuidEvent: pathname.slice(1, -6) } })
          })
      }
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
[type=submit] {
  -webkit-appearance: none;
}
.vdp-datepicker {
  .input-group {
    .form-control {
      height: 40px;
      border: 1px solid #bdbdbd;

      &[readonly] {
        background-color: #ffffff !important;
      }
    }
  }
}
.radial-progress-container {
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
}

.button-default {
  border-radius: 5px !important;
  border: 1px solid #e0e0e0 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #e21f34 !important;

  &:hover {
    background-color: #fff2f3;
    color: #e21f34;
  }
}

.button-danger {
  border-radius: 5px !important;
  background-color: #e21f34 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #ffffff !important;

  &:hover {
    background-color: #fc3b50;
    color: #ffffff;
  }
}

.button-success {
  border-radius: 5px !important;
  background-color: #27ae60 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #ffffff !important;

  &:hover {
    background-color: #44cb7d;
    color: #ffffff;
  }
}

.button-border {
  border-radius: 5px !important;
  border: 1px solid #e21f34 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #e21f34 !important;

  &:hover {
    background-color: #fff2f3;
    color: #e21f34;
  }
}

.button-disabled {
  border-radius: 5px !important;
  background-color: #bdbdbd !important;
  font-size: 16px !important;
  font-weight: 900 !important;
  color: #ffffff !important;
}

.is-danger-notif {
  color: red;
}
</style>
